<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
            <p>My name is Joabe de Souza Santos, I am Systems Specialist with over 12 years of experience in systems analysis and Java development. Specialist in Java language and frameworks such as Spring, JSF, Primefaces and JPA. Has solid experience in API development, systems integration, as well as skills in data modeling, requirements gathering and use of DevOps tools. Familiarity with agile methodologies (Scrum) and modern technologies such as Kafka, React.js with TypeScript and Multi Cloud. Bachelor's degree in Computer Science from São Judas Tadeu University</p>
          </div>
          <p>
            I really like listening to music, especially rock, I practice physical activities, play video games, watch Corinthians games. I currently practice street running, and I play the snare drum in a Samba School.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>