<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row animated fadeInUp">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <p>My name is Joabe de Souza Santos, I am a backend developer passionate about technology and solving complex problems in a simple and efficient way. Throughout my career, I have been building robust solutions using Java and the Spring ecosystem, always focusing on quality, performance, and scalability.</p>

            <p>I have experience with microservices, messaging with Kafka, and cloud applications (AWS), as well as working with different databases such as PostgreSQL and MongoDB. I especially enjoy working on challenging systems where reliability and performance make a real difference.</p>

            <p>More than just code, I value collaboration, continuous learning, and knowledge sharing with the team. I am always looking to evolve technically and contribute to building products that generate real impact.</p>
            <p>I really like listening to music, especially rock, cheering for Corinthians, play video games. I currently practice street running and I play the snare drum in a Samba School.</p>
          </div>

        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/Eu.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>